{% extends 'base.html' %}

{% block content %}
    {% if not user.is_authenticated %} 
        <div class="mt-5 d-flex flex-column align-items-center">
            <h1>Please log in First</h1>
        </div>
    {% else %}
        <div class="container timeline-container">
            <div class="row image-column">
                <div class="col-md-9">
                    <h1 class="timeline-title">Timeline</h1>
                    {% for user_images in images %}
                        {% for image in user_images %}
                            <img class="timeline-img" src="{{ image.image.url }}">
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    {% endif %}
{% endblock %}
