#instagram-nav {
    background-color: #FFF;
    border-bottom: 1px solid #dfdfdf;
}

#instagram-title {
    font-family: 'Lobster', cursive;
    padding-left: 180px;
    color: #222;
    font-size: 25px;
}

.nav-signup-link {
    margin-left: auto;
}

#user-profile {
    padding-right: 180px;
}

#user-image {
    stroke: #FFF;
    background-color: #d3d3d3;
    border-radius: 50%;
    border: 1px solid #000;
    fill: #FFF;
    width: 26px;
    height: 26px;
}

.navbar-link {
    padding-right: 20px; 
}

.nav-search {
    margin-left: auto;
}

#search-box {
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    text-align: center;
    background-color: #f7f7f7;
}

#search-box:focus {
    outline: none;
}

#profile-container {
    margin: 30px 180px 0;
    max-width: 1025px;
}

#profile-image {
    stroke: #FFF;
    background-color: #d3d3d3;
    border-radius: 50%;
    border: 1px solid #000;
    fill: #FFF;
    width: 165px;
    height: 165px;
}

#profile-description {
    border-bottom: 1px solid #dfdfdf;
}

.posts-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

.post {
    width: 290px;
    height: 290px;
    margin-top: 15px;
}

#post-container {
    width: 1025px; 
}

#post-container img {
    width: 450px;
    height: 550px;
}

.timeline-container {
    width: 1025px; 
    margin: 30px 180px 0;
    
}

.image-column {
    display: flex;
    flex-direction: column;
}

.timeline-title {
    margin-bottom: 30px;
}

.timeline-img {
    width: 600px;
    height: 480px;
    margin-bottom: 25px;
}

.suggestions-title {
    margin-top: 70px;
}

.suggestion {
    margin-top: 10px;
}